:root {
    --color-main: #7ec522;
}

.wrap-carousel {
    width: 100%;
    height: 82vh;
}

.carousel-item,
.carousel-item img {
    width: 100%;
    height: 82vh;
    object-fit: cover;
}

.section-slide {
    width: 100%;
    height: 82vh;
    position: relative;
}

.opacity-slide {
    position: absolute;
    width: 100%;
    height: 82vh;
    background-color: #000;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.4;
}

.carousel-caption {
    z-index: 1000;
    position: absolute;
    top: 50%;
    transform: translateY(-20%);
}

.carousel-caption h3 {
    font-size: 60px;
    font-style: italic;
    text-shadow: 5px 5px 10px #ccc;
}

.carousel-caption p {
    font-size: 30px;
    text-shadow: 5px 5px 10px #ccc;
}

.content-homepage {
    max-width: 1170px;
    margin: auto;
}

.line-homepage {
    margin-top: 60px;
}

.new-product-hp,
.discount-product-hp {
    display: flex;
    justify-content: space-between;
}

.category-homepage {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.category-homepage div {
   max-width: 565px;
}

.category-homepage img {
    border-radius: 15px;
    width: 100%;
    box-shadow: 0px 0px 7px #888;
}

.item-cate-home {
    position: relative;
}

.floating-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.image-cate-home::after {
    content: '';
    position: absolute;
    background-color: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    opacity: 0.3;
}

.floating-item p {
    font-weight: bold;
    text-shadow: 3px 3px 3px #333;
}

.title-cate-home {
    font-size: 20px;
    color: #FFFF33;
    text-align: center;
}

.description-cate-home {
    color: #fff;
    font-size: 35px;
    text-align: center;
}

.floating-item a {
    text-decoration: none;
    color: #fff;
    background-color: #ce0354;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 20px;
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
}

.floating-item a:hover,
.content-discount-home a:hover {
    background-color: var(--color-main);
    color: #fff;
    transition: linear 0.2s;
}

.bg-discount-home {
    background-color: #7ec522;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    margin-top: 20px;
    border-radius: 20px;
    position: relative;
}

.bg-discount-home img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.bg-img::after {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    width: 50%;
    height: 300px;
    border-radius: 20px;
    opacity: 0.5;
    border-radius: 50%;
    border: 2px solid #FFFF00;
}

.content-discount-home {
    position: absolute;
    width: 50%;
    height: 300px;
    padding-top: 90px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 50%;
    color: #FFFF00;
    font-weight: 600;
}

.title-disc-ct-home {
    font-size: 30px;
    font-style: italic;
    text-shadow: 5px 5px 5px #111;
}

.ct-persent-disc-home {
    font-size: 20px;
    color: #FFFF00;
    text-shadow: 5px 5px 5px #111;
}

.content-discount-home a {
    text-decoration: none;
    background-color: #dd035a;
    border-radius: 20px;
    color: #fff;
    padding: 10px 25px;
    display: inline-block;
    margin-top: 10px;
}

/*-----------------------tài khoản bị khóa------------------------------*/
.user-dissabled {
    background-color: #eee;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2000;
    text-align: center;
}

.user-dissabled span {
    background-color: #0066FF;
    color: #fff;
    padding: 5px 10px;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    cursor: pointer;
}

.user-dissabled span:hover {
    background-color: #0259dd;
}

.user-dissabled img {
    width: 120px;
    height: 120px;
    margin-top: 25vh;
    margin-bottom: 20px;
}

.header-homepage {
    position: fixed;
    z-index: 2000;
    top: -100%;
    width: 100%;
}

.headre-true-show {
    position: fixed;
    z-index: 2000;
    top: 0;
    width: 100%;
    transition: ease-in-out 0.6s;
}

.none-head-page {
    display: none;
}